@font-face {
    font-family: "Clear Sans";
    src: url("../fonts/iI7tiBf5CLtO.eot");
    src: url("../fonts/iI7tiBf5CLtO.eot#iefix") format("embedded-opentype"),
         url("../images/DH1oKLExtCtL.svg#clear_sans_lightregular") format("svg"),
         url("../fonts/2zPVW3iTKrg0.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("../fonts/q53V4ezcsYZP.eot");
    src: url("../fonts/q53V4ezcsYZP.eot#iefix") format("embedded-opentype"),
         url("../images/BiXxk2RBymMD.svg#clear_sansregular") format("svg"),
         url("../fonts/QUdme4JqLDlZ.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Clear Sans";
    src: url("../fonts/QtgTQcJgpRaV.eot");
    src: url("../fonts/QtgTQcJgpRaV.eot#iefix") format("embedded-opentype"),
         url("../images/Q26N48Kc221B.svg#clear_sansbold") format("svg"),
         url("../fonts/CMLrqLf1uzkS.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

